[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = pattobrien
	email = 12474318+pattobrien@users.noreply.github.com
[init]
	defaultBranch = master
[core]
	editor = code --wait
[http]
	postBuffer = 100000000
[safe]
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
	directory = /Users/pattobrien/.github-runners/actions-runner/_work/sidecar/sidecar
