nodejs      24.13.0
golang      1.25.6
dart        3.10.8
rust        1.93.0
deno        2.2.12
uv          0.6.1
bun         1.3.7
dotnet-core 10.0.102
pnpm        10.28.2
kotlin      2.2.21
java        24.0.1
gradle      8.14.3
scala       3.7.2
pulumi      3.193.0
zig         0.15.1
neovim      0.11.6
terraform   1.14.3
helm        4.0.4
kubectl     1.35.0
kustomize   5.8.0
kubectx     0.9.5
argocd      3.2.3
minikube    1.37.0
kind        0.31.0
kubebuilder 4.10.1
just        1.46.0
maven       3.9.12
cmake       4.2.1
ninja       1.13.2
pandoc      3.8.3
ruby        3.4.8
cocoapods   1.16.2
python      3.13.11
skaffold    2.17.1
typst       0.14.2
jq          1.8.1
protoc      33.3
tflint      0.60.0
swift       6.2.3
